body{
    background-color: #3494E4;
    font-family: 'montserrat', sans-serif;   
}

.upper h1{
    font-size: 45px;
    color: white;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 5px;
}

.upper p{
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.center{
  margin: auto;
  width: 150px;
  height: 322px;
  border: 4px solid #144FC6;
  background-color: white;
  border-radius: 0 0 30px 30px ;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:#144FC6;
  transition: 0.3s;  
  position: relative;
}

.normal p{
    color:white;
    text-align: center;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.center p{
    margin-top: 0px;
    margin-bottom: 0px;
 }

#remained{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    transition: 0.3s ease;
}

.liters{
    font-size: 30px;
    font-weight: bold;
}
.cups .box{
    display:flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.9);
    border: 4px solid #144FC6;
    color: #144FC6;
    border-radius: 0 0 15px 15px;
    height: 95px;
    width: 50px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    transition: 0.3s; 
}

.cups{
    display:flex;
    flex-wrap: wrap;
    width: 280px;
    align-items: center;
    margin-left: 625px;
}

.cups .fill{
    background-color:#6AB3F8;
    color:white;
}

@media only screen and (max-width: 700px) {
  .cups{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 65px;
  }

  .normal{
    font-size: 20px;
  }

}
 .percent{
    display: none;
    font-size: 30px;
    transition: 0.3s;
    overflow: hidden;
    position: absolute;
    border-radius: 0 0 25px 25px;
    background-color: #3494E4;
    bottom: 0;
    width: 150px;
}

